<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dearly</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="video-chat-lobby">
            <h2 class="text" style="text-align: center;">Dearly</h2>
            <!-- <form> -->
                <input id="roomName" type="text" placeholder="Room Name" />
                <button type="submit" id="join">Join</button>
                <!-- </form> -->
            </div>

        <div id="video-chat-room">
        <video id="user-video"></video>
        <video id="peer-video"></video>
        </div>
      <script src="https://cdn.socket.io/socket.io-3.0.1.js"></script>
     <script src="/chat.js"></script>
    </body>
</html>